body {
    background-color: #282828;
    color: white;
}

header {
    background-color: lightslategray;
    border-radius: 25px;
    box-shadow: 1.5px 2px 4px 1px #d0aa52;
    position: sticky;
    top: 10px;
    z-index: 1;
}

.logo img {
    border-radius: 21px;
    height: 42px;
    width: 42px;
    margin: 10px;
    transition: border-radius 1s cubic-bezier(0, -1, 1, -0.75);
}

.logo img:hover {
    border-radius: 10px;
    transition: all .1s linear;
}

.logo a {
    float: right;
}

/*ensuite, le menu*/
header ul {
    list-style: none;
    padding: 0px;
    margin: 10px;
    overflow: hidden;
}

header>ul>li>a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    float: left;
    transition: background-color 250ms ease-in-out;
    border-radius: 24px;
}

header>ul>li>a:not(.logo a) {
    margin-top: 24px;
}

header>ul>li>a:hover:not(.logo a) {
    background-color: #677889;
}

/*dont le submenu*/
.submenu {
    display: none;
}

header li:hover>.submenu {
    display: inline-block;
    position: absolute;
    backdrop-filter: blur(10px);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.1);
    top: 62px;
    left: 67px;
}

.submenu>li {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all .25s ease-in-out;
}

.submenu li:hover {
    background-color: rgba(255, 255, 255, 0.35);
}